apollo-api/src/main/resources/kentrade-xsd/FILE_RESPOSE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DOCUMENT">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FILE_NAME" type="xs:string" />
                <xs:element name="PROCESSING_STATUS" type="xs:string" />
                <xs:element name="STATUS_DES" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>